section(class="option-block" id="general_page")
    div(class="some-block option-block")
        h1(data-localise="__MSG_general__") General
    hr

    //- script(type="module" src="./widgets/general.js")