section(class="option-block" id="mastodon_page")
    h1 Mastodon
    hr

    form(id="mastodon_form")
        div(class="block option-input")
            div 
                h4 Your instance
                input(class="custom-instance instance" type="url" placeholder="https://mastodon.ml")

        div(class="block option-input")
            div 
                h4 Code
                input(class="code" type="text")

        div(class="block")
            button(type="submit" class="button button-inline") Save

    hr

    div(class="block")
        div 
            |FediRedirect requires authorization to be able to use <a href="https://docs.joinmastodon.org/methods/search/">search</a>.

    script(type="module" src="widgets/mastodon/mastodon.js")