body {
	width: 250px;
	min-height: auto;
}

html,
body {
	margin: 0;
}

.space {
	height: 10px;
}

.button h4 {
	font-size: 16px;
	max-width: 160px;
}

div.block {
	margin: 10px;
}

div.block h4 {
	min-width: 200px;
}