section(class="option-block" id="pleroma_page")
    h1 Pleroma
    hr

    form(id="pleroma_form")
        div(class="block option-input")
            div 
                h4 Your instance
                input(class="custom-instance instance" type="url")

        div(class="block")
            button(type="submit" class="button button-inline") Save

    hr

    script(type="module" src="widgets/pleroma/pleroma.js")